@charset"utf-8";

:root{
				/* Colors */ 
				--primary1: ;
				--primary2: ;
				--primary3: ;
				
				--neutral1: ;
				--neutral2: ;
				--neutral3: ;
				
				/* sources */	
				--font-padrao: ;
				--font-titulo: ;
				--font-subtitulo: ;
}

*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}

body {
				height: 100vh;
				width: 100%;
				
				font-family: var(--font-padrao);
}